.work_log
  .user= User.find(work_log.user_id).name
  %p
    = l(work_log.time, format: :short)
    .label.label-warning= t(work_log.action)
  - if work_log.comment
    %p= raw(work_log.comment.gsub("\n", "<br>"))
