/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require token-input
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body{
  padding-top: 70px;
  background: asset-url('bg.png') no-repeat 5% 65px
}

.image {
	border: 1px solid #ddd;
	background: #eee;
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: 5px;
  text-align: center;

  img {
    max-height: 100px;
    max-width: 100px;
  }
}

.work_logs {
  border: 2px solid #ddd;
  //width: 300px;
  max-height: 400px;
  overflow: auto;
  .work_log{
    margin: 5px;
    border: 1px solid #ddd;
    .user {
      width: 100%;
      border: 1px solid #ddd;
      padding: 0;
    }
  }
}

new_doc_label {
  color: #ff0000;
}

change_doc_label {
  color: blue;
}

.work_log_modal{
  z-index: 110060 !important;
  textarea { resize:none; width: 100% !important;}
}


div.dog-nail{
  display: none !important;
}

select.dog-nail{
  display: inline !important;
}
