-flash.each do |type, message|
  -next if message.blank?
  -type = :success if type == :notice
  -type = :danger   if type == :alert
  -Array(message).each do |msg|
    %div{class: "alert fade in alert-#{type}"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
      = msg
